.detalhes-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  background-color: #fff;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 0px 25px rgba(0,0,0,0.09);
  margin-top: 20px;
}

/* Coluna da Imagem */
.detalhes-imagem-container {
  width: 100%;
  height: 500px;
  border-radius: 15px;
  overflow: hidden;
}

.detalhes-foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.detalhes-foto:hover {
  transform: scale(1.02);
}

/* Coluna das Informações */
.detalhes-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detalhes-titulo {
  font-size: 3rem;
  color: #6B4C3E; 
  margin-bottom: 15px;
}

.tags-container {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.tag {
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
}

.tag.especie { background-color: #FFE0B2; color: #E65100; }
.tag.raca { background-color: #E1F5FE; color: #0277BD; }

.info-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.info-item {
  display: flex;
  flex-direction: column;
}

.info-item strong {
  color: #888;
  font-size: 0.85rem;
  margin-bottom: 5px;
}

.info-item span {
  color: #333;
  font-weight: 600;
  font-size: 1.1rem;
}

.descricao-section h3 {
  color: #555;
  margin-bottom: 10px;
}

.descricao-section p {
  line-height: 1.6;
  color: #666;
  margin-bottom: 40px;
}


.btn-adotar-grande {
  background-color: #D8692E; 
  color: white;
  border: none;
  padding: 18px 32px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
}

.btn-adotar-grande:hover {
  background-color: #bf561d;
  transform: translateY(-2px);
}

/* Responsividade */
@media (max-width: 768px) {
  .detalhes-wrapper {
      grid-template-columns: 1fr;
      padding: 20px;
  }
  .detalhes-imagem-container {
      height: 300px;
  }

  .detalhes-titulo {
      font-size: 2rem;
  }
}

.section-animal {
  background-color: white;
}

.back-icon {
  position: absolute; 
  top: 20px;          
  left: 20px;         
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;     
  height: 45px;
  border-radius: 50%;
  background-color: #f4f4f4;
  color: #5a3d2b;
  font-size: 24px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
  z-index: 10; 
}

.back-icon:hover {
  background-color: #D8692E;
  color: white;
  transform: translateX(-3px);
}