.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 248, 240, 0.9);
    backdrop-filter: blur(10px);
    z-index: 1000;
    transition: all 0.3s ease;
    padding: 15px 0;
}

.admin-btn {}

.navbar.scrolled {
    padding: 10px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-logo h2 {
    color: #d97706;
    font-size: 1.8rem;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    color: #5a3d2b;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #d97706;
}

.nav-buttons {
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
}

.login-btn {
    background: transparent;
    border: 2px solid #d97706;
    color: #d97706;
}

.login-btn:hover {
    background: #d97706;
    color: white;
}

.adopt-btn {
    background: #d97706;
    border: 2px solid #d97706;
    color: white;
}

.adopt-btn:hover {
    background: #b36205;
    border-color: #b36205;
}

.login-btn,
.adopt-btn,
.profile-btn,
.admin-btn,
.logout-btn {
    padding: 8px 20px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
}

.profile-btn,
.admin-btn {
    background: transparent;
    border: 2px solid #5a3d2b;
    /* Cor marrom do texto do menu */
    color: #5a3d2b;
}

.profile-btn:hover {
    background: #5a3d2b;
    color: white;
}

.admin-btn:hover {
    background: #5a3d2b;
    color: white;
}

.logout-btn {
    background: #c2410c;
    border: 2px solid #c2410c;
    color: white;
}

.logout-btn:hover {
    background: #a03308;
}