* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  /* text-shadow: #000 0.5px 0.5px; */
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("assets/bglogin.jpg");
  background-size: cover;
  background-position: center;
}

.default-container {
  width: 80%;
  display: flex;
  margin: 0 auto;
}